* {
    box-sizing: border-box;
}
body {
    background-color: #000000;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: 16px;
    line-height: 1.6;
    min-height: 100vh;
    text-align: center;
    margin-top: 35px;
}
img {
    width: 40px;
    top: 100px;
}
.navbar {
    background-color: #A52A2A;
}
.container{
    margin-top: 4rem;
}
.list-group-item {
    background-color: #000;
}
/* button-class styling */
.button-class {
    background-color: #B8860B;
    color: #000;
    padding: 1em;
    font-weight: 900;

    /* transition */
    transition: transform 0.3s;
    transition-timing-function: ease-in-out;
}
.button-class:hover,
.button-class:focus {
    cursor: pointer;
    transform: scale(1.1);
 
}

/* Modal styling */
.modal {
    color: #000;
}
.modal-dialog {
    margin-top: 15%;
}
.modal-img {
    padding: 20px;
    margin-top: -20px;
    width: 50%;
}

@media all and (max-width: 500px) {
    .button-class {
        padding: 12px 20px;
        min-width: 80%;
    }
footer {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 100px;
    line-height: normal;
    display: flex;
    flex-direction: column-reverse;
   
  }
}
